.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogs > div:first-child {
    border-right: 1px solid #000;
}

.dialogsItem a {
    text-decoration: none;
}

.dialogsItem a:hover {
    text-decoration: underline;
}

.dialogsItem a:hover,
.dialogsItem a.active {
    color: #000;
    font-weight: bold;
}

.dialogsItem div::before {
    content: "●";
    margin-right: 5px;
}

.dialogsMessage {
    text-align: center;
}

.dialogsMessage button {
    width: 100px;
    height: 40px;

    margin-bottom: 5px;
        
    border: 2px solid grey;
    border-radius: 10px;
}

.dialogsMessage button:hover {
    border: 2px solid rgb(2, 61, 0);
    background-color: rgb(163, 255, 163);
}